<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Book Store</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link th:href="@{../css/templatemo_style.css}" rel="stylesheet" type="text/css"/>
    <script th:src="@{/js/jquery-1.8.3.min.js}"></script>
    <!--    <script> //scpric标签中不用再写其他东西-->
    <!--    function goBuy(id) {-->
    <!--        $.ajax({-->
    <!--            url: "[[@{/toSubscribe}]]",-->
    <!--            data:{"id":id},-->
    <!--            dataType: "json",   //返回的数据是json 格式-->
    <!--            type: "GET",-->
    <!--            contentType: 'application/json',-->
    <!--            success: function (result) {-->
    <!--                alert(result["result"]);-->
    <!--            }-->
    <!--        })-->
    <!--    }-->
    <!--    </script>-->
    <script type="text/javascript">
        window.onbeforeunload = function () {
            $.ajax({
                url: "/toPra",
                type: 'get',
                dataType: 'json',
                contentType: 'application/json',
                data: {"1": "2"},
                async: true,
                success: function (data) {

                }
            });
            return null;
        }
    </script>
    <script type="text/javascript">
        function addCart(cartId) {
            var le = '[[${session.cartLen}]]';
            if(le >= 7){
                alert("购物车已满！");
            }else{
                window.location.href="/toCart/"+cartId;
            }
        }
    </script>
</head>
<body>
<!--  Free CSS Templates from www.templatemo.com -->
<div id="templatemo_container">
    <div id="templatemo_menu">
        <ul>
            <li><a th:href="@{/tolist}" class="" th:classappend="${flag==1}? 'current':''">主页面</a></li>
            <li><a th:href="@{/toNewRelease}" class="" th:classappend="${flag==2}? 'current':''">最新发布</a></li>
            <li><a th:href="@{/toOrder}" class="" th:classappend="${flag==4}? 'current':''">订单详情</a></li>
            <li>
                <form name="form1" th:action="@{/searchBook}" method="post">
                    <input type="text" name="news" id="inputId" value=""/>
                    <a href='javascript:document.form1.submit();' id="linkToCart" class=""
                       th:classappend="${flag==3}? 'current':''">搜索</a>
                </form>
            </li>
            <li><a th:href="@{#}" class="current" style="position: absolute;left: 950px;top: 15px;font-size: 20px">[(${session.USERNAME})]</a>
            </li>
            <li><a th:href="@{/toCart2}" class="current" style="position: absolute;left: 1050px;top: 15px;font-size: 20px">购物车</a>
            </li>
        </ul>
    </div> <!-- end of menu -->

    <div id="templatemo_header">
        <div id="templatemo_special_offers">
            <p>
                <span>25%</span> discounts for
                purchase over $80
            </p>
            <!--			<a th:href="@{subpage}" style="margin-left: 50px;">Read more...</a>-->
        </div>


        <div id="templatemo_new_books">
            <ul>
                <li>Suspen disse</li>
                <li>Maece nas metus</li>
                <li>In sed risus ac feli</li>
            </ul>
            <!--            <a th:href="@{subpage}" style="margin-left: 50px;">Read more...</a>-->
        </div>
    </div> <!-- end of header -->

    <div id="templatemo_content">

        <div id="templatemo_content_left">
            <div class="templatemo_content_left_section">
                <h1>图书分类</h1>
                <ul th:each="category:${categorys}">
                    <li><a th:href="@{'/toCategory/'+${category.id}}"><span th:text="${category.cate}"
                                                                            style="font-size: 15px"></span></a></li>
                </ul>
            </div>
            <div class="templatemo_content_left_section">
                <h1>畅销书排行</h1>
                <ul th:each="book:${books1}">
                    <li><a th:href="@{'/toBook/'+${book.id}}"><span th:text="${book.name}"
                                                                    style="font-size: 15px"></span></a></li>
                </ul>
            </div>
        </div> <!-- end of content left -->
        <div id="templatemo_content_right">
            <div class="templatemo_product_box" th:each="book:${bookUtil}">
                <h1 th:text="${book.category+'  著·'+book.author}"></h1>
                <img th:src="${book.url}" alt="image" style="width: 100px;height: 140px"/>
                <div class="product_info">
                    <p th:text="${book.name}"></p>
                    <p th:text="${'剩余:'+book.inventory}"></p>
                    <h4 th:text="${'$'+book.price}"></h4>
                    <!--                    <div class="buy_now_button"><a href="javascript:void(0)" th:onclick="'javascript:goBuy('+${book.id}+')'">订阅</a></div>-->
                    <div class="buy_now_button"><a th:href="@{'/toSubscribe/'+${book.id}}">订阅</a></div>
                    <div class="buy_now_button2"><a th:data-id="${book.id}" href="javascript:" onclick="addCart(this.getAttribute('data-id'))">加入购物车</a></div>
                    <div class="detail_button"><a th:href="@{'/detail/'+${book.id}}">图书详情</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>

            </div>
            <div class="cleaner_with_width">&nbsp;</div>
            <!--            <div class="templatemo_product_box">-->
            <!--                <h1 th:text="${books[1].category+'  著·'+books[1].author}"></h1>-->
            <!--                <img th:src="${books[1].url}" alt="image" style="width: 100px;height: 140px"/>-->
            <!--                <div class="product_info">-->
            <!--                    <p th:text="${books[1].name}"></p>-->
            <!--                    <p th:text="${'剩余:'+books[1].inventory}"></p>-->
            <!--                    <h4 th:text="${'$'+books[1].price}"></h4>-->
            <!--                    <div class="buy_now_button"><a href="javascript:void(0)" th:onclick="'javascript:goBuy('+${books[1].id}+')'">购买</a></div>-->
            <!--                    <div class="detail_button"><a th:href="@{'/detail/'+${books[1].id}}">图书详情</a></div>-->
            <!--                </div>-->
            <!--                <div class="cleaner">&nbsp;</div>-->
            <!--            </div>-->

            <!--            <div class="cleaner_with_height">&nbsp;</div>-->

            <!--            <div class="templatemo_product_box" th:if="${not #strings.isEmpty(books[2])}">-->
            <!--                <h1 th:text="${books[2].category+'  著·'+books[2].author}"></h1>-->
            <!--                <img th:src="${books[2].url}" alt="image" style="width: 100px;height: 140px"/>-->
            <!--                <div class="product_info">-->
            <!--                    <p th:text="${books[2].name}"></p>-->
            <!--                    <p th:text="${'剩余:'+books[2].inventory}"></p>-->
            <!--                    <h4 th:text="${'$'+books[2].price}"></h4>-->
            <!--                    <div class="buy_now_button"><a href="javascript:void(0)" th:onclick="'javascript:goBuy('+${books[2].id}+')'">购买</a></div>-->
            <!--                    <div class="detail_button"><a th:href="@{'/detail/'+${books[2].id}}">图书详情</a></div>-->
            <!--                </div>-->
            <!--                <div class="cleaner">&nbsp;</div>-->
            <!--            </div>-->

            <!--            <div class="cleaner_with_width">&nbsp;</div>-->

            <!--            <div class="templatemo_product_box" th:if="${not #strings.isEmpty(books[3])}">-->
            <!--                <h1 th:text="${books[3].category+'  著·'+books[3].author}"></h1>-->
            <!--                <img th:src="${books[3].url}" alt="image" style="width: 100px;height: 140px"/>-->
            <!--                <div class="product_info">-->
            <!--                    <p th:text="${books[3].name}"></p>-->
            <!--                    <p th:text="${'剩余:'+books[3].inventory}"></p>-->
            <!--                    <h4 th:text="${'$'+books[3].price}"></h4>-->
            <!--                    <div class="buy_now_button"><a href="javascript:void(0)" th:onclick="'javascript:goBuy('+${books[3].id}+')'">购买</a>-->

            <!--                    </div>-->
            <!--                    <div class="detail_button"><a th:href="@{'/detail/'+${books[3].id}}">图书详情</a></div>-->
            <!--                </div>-->
            <!--                <div class="cleaner">&nbsp;</div>-->
            <!--            </div>-->
            <!--            <div class="cleaner_with_height">&nbsp;</div>-->
            <div class="cleaner_with_height">&nbsp;</div>
            <img th:src="@{../img/templatemo_ads.jpg}" alt="ads"/>
            <div align="center" style="position: absolute;left:0;right:0;top: 155%;bottom:0;font-size: 120%">

                <a class="allpage"><b th:text="'共 '+ ${pageInfo.getPages()}+ ' 页'"></b></a>

                <a th:href="@{/tolist(currentPage=${pageInfo.getFirstPage()})}">首页</a>

                <a th:if="${pageInfo.hasPreviousPage()} == true"
                   th:href="@{/tolist(currentPage=${pageInfo.getPrePage()})}">上一页</a>

                <a th:href="@{'/tolist?currentPage=' + ${i}}"
                   th:each="i :${#numbers.sequence(pageInfo.firstPage, pageInfo.lastPage)}" th:text="  ${i}"
                   th:class="${pageInfo.getPageNumber() == i}? 'page-item active' :' page-item' "></a>

                <a th:if="${pageInfo.hasNextPage()} == true"
                   th:href="@{/tolist(currentPage=${pageInfo.getNextPage()})}">下一页</a>

                <a th:href="@{/tolist(currentPage=${pageInfo.getLastPage()})}">尾页</a>

            </div>
        </div>
        <div class="cleaner_with_height">&nbsp;</div>
    </div>
</div>
</body>
</html>