<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>用户管理列表</title>

    <link rel="stylesheet" type="text/css"  th:href="@{../css/nav.css }"/>
    <link rel="stylesheet" type="text/css" th:href="@{../css/iconfont.css}"/>
    <script type="text/javascript" th:src="@{../js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{../js/nav.js}"></script>
    <style type="text/css">
        .d1{
            left: 200px;
            top: 200px;
        }
    </style>
</head>
<body>

<div class="nav">
    <div class="nav-top">
        <div id="mini" style="border-bottom:1px solid rgba(255,255,255,.1)"><img th:src="@{../static/img/mini.png}" ></div>
    </div>
    <ul>
        <li class="nav-item">
            <a href="javascript:;"><i class="my-icon nav-icon icon_1"></i><span>用户管理</span><i class="my-icon nav-more"></i></a>
            <ul>
                <li><a th:href="@{/users}"><span>用户信息</span></a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="javascript:;"><i class="my-icon nav-icon icon_2"></i><span>图书管理</span><i class="my-icon nav-more"></i></a>
            <ul>
                <li><a th:href="@{/books}"><span>图书列表</span></a></li>
                <li><a th:href="@{/addbook}"><span>图书添加</span></a></li>
                <li><a th:href="@{/books1}"><span>图书编辑</span></a></li>
                <li><a th:href="@{/bookDetail}"><span>图书详情</span></a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="javascript:;"><i class="my-icon nav-icon icon_3"></i><span>订单管理</span><i class="my-icon nav-more"></i></a>
            <ul>
                <li><a th:href="@{/orders}"><span>订单列表</span></a></li>
                <li><a th:href="@{/to_send_goods}"><span>发送货物</span></a></li>
                <li><a th:href="@{/orders_del}"><span>订单删除</span></a></li>
                <li><a th:href="@{/orders_update}"><span>订单更新</span></a></li>
            </ul>
        </li>
    </ul>
</div>
<div style="text-align:center;margin:-550px 0px;font-size: 20px;">
    <form th:action="@{/emp/update}" method="post">
        <div class="form-group">
            <label>用户账号:</label>
            <input style="text-align: center" type="text" class="form-control" name="username" th:value="${user.username}" readonly="readonly">
        </div>
        <div class="form-group">
            <label>用户密码:</label>
            <input style="text-align: center" type="text" class="form-control" name="password" th:value="${user.password}">
        </div>
        <div class="form-group">
            <label>用户邮箱:</label>
            <input style="text-align: center" type="text" class="form-control" name="email" th:value="${user.email}" readonly="readonly">
        </div>
        <div class="form-group">
            <label>用户姓名:</label>
            <input style="text-align: center" type="text" class="form-control" name="name" th:value="${user.name}" readonly="readonly">
        </div>
        <div style="width: 1215px;height: 500px">
            <label>用户权限:</label>
            <select  style = "width: 160px;font-size: 15px;text-align:center;text-align-last:center" name="status">
                <option selected="selected">请选择权限</option>
                <option value="0">用户</option>
                <option value="1">管理员</option>
            </select>
        </div>
        <input type="submit" value="修改" style="margin:-450px 0px;">
    </form>
</div>
</body>
</html>